
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: "https;//img.freepik.com/premium-photo/background-image-stack-orange-blue-paper_289284-289.jpg?w=900";
}
header {
    background-color: orange;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav {
    background-color: #000000;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
}
nav a:hover {
    background-color: #575757;
}
main {
    padding: 2rem;
}
section {
    margin-bottom: 2rem;
}
footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 1rem auto;
}
.section-title {
    background-color: orange;
    color: white;
    padding: 0.5rem;
    text-align: center;
}