.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Empêche tout débordement */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/free-photo/view-illuminated-neon-gaming-keyboard-setup-controller_23-2149529353.jpg?t=st=1732651017~exp=1732654617~hmac=fba8b56383933b98c83a5e3640fefb2420468357916007e5d77e297f18b9891a&w=1380");
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: 1;
}

.content-c {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#h1 {
    color: #9700ff;
    margin-bottom: 20px;
}

.hum {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    color: #ffffff;
}


.detel1 {
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.detel2 {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.dgauche {
    width: 48%;
    text-align: center;
}

.ddroite {
    width: 48%;
    text-align: center;
}
